h1{
    color:#DB7093;
}
h2{
    color:#DB7093;
    margin-left:100px;
}
h3{
    color:#DB7093;
    margin-left:100px;
}
h4{
    color:#BA55D3;
    margin-left:100px;
}
h5{
    color:#BA55D3;
    margin-left:100px;
}
h6{
    color:#DB7093;
    margin-left:100px;
}
li{
    color:#BA55D3;
    background-color:#FFE4E1;
    margin-left:100px;
}
table{
    color:#BA55D3;
    background-color:#FFE4E1;
    margin-left:200px;
}
.bread{
    margin-left:100px;
}
.tool{
    margin-left:100px;
}
